@model IEnumerable<Project.Models.Circuit>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NaamCircuit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Land)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NaamCircuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Land)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CircuitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CircuitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CircuitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
