@model Project.Models.BestellingArtikel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BestellingArtikel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bestelling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bestelling.BestellingID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artikel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artikel.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BestellingArtikelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
